header {
  display: block;
}

.right-nav a,
.left-nav a {
  text-decoration: none;
  color: #b8b6b2;
}

#logo {
  color: white;
  font-weight: bold;
}

.navbar {
  display: flex;
  background-color: black;
  max-width: 100%;
  padding: 12px;
}

.left-nav {
  display: flex;
  flex-wrap: wrap;
}

.left-nav a {
  margin-left: 7px;
}

.right-nav {
  display: flex;
  margin-left: 12px;
}

.right-nav a {
  margin-left: 7px;
}

.second-nav {
  display: flex;
  margin: 9px auto auto 2px;
  background-color: white;
  position: sticky;
  height: 3em;
  flex-shrink: inherit;
}

.second-nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: #aaa;
}

.second-nav a :hover {
  color: wheat;
}

.searh {
  display: flex;
  margin-left: 15px;
  border: 1px solid transparent;
  background-color: white;
}

@media only screen and (min-width: 1024px) {
  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 2em;
  }

  .second-nav {
    justify-content: space-between;
    height: 70px;
    font-size: 1.5em;
    position: sticky;
  }

  .searh {
    display: flex;
    margin-right: 15px;
    background-color: white;
    font-weight: bold;
    font-size: 30px;
  }
}
