.left-nav li {
    display: inline;
    font-size: 16px;
    padding: 3px;
    
}

.right-nav li {
    display: inline;
    font-size: 16px;
    padding: 3px;
}

.right-nav a, .left-nav a {
    text-decoration: none;
    color: #b8b6b2;
}

#logo {
    color: white;
    font-weight: bold;
}

.left-nav ul {
    padding: 0 10px;
    margin: 5px 0; 
    
}

.right-nav ul {
    padding: 0 10px;
    margin: 5px 0;
}

.first-nav {
    display: flex;
    justify-content: space-between;
    height: 2em;
    background: black;
    
}

.second-nav {
    display: flex;
    justify-content: space-between;
    border: 1px solid purple;
}

.second-nav li {
    list-style: none;
    display: inline;
}