.container {
  display: grid;
  max-width: 100%;
}

.col1 {
  border: 5px solid whitesmoke;
  font-size: 20px;

  background: linear-gradient(rgba(255, 255, 0, 0.37), rgba(0, 0, 255, 0.418));
}

.col3 {
  border: 7px solid whitesmoke;
  font-size: 16px;
  font-weight: 19px;
  background: linear-gradient(rgba(255, 255, 0, 0.37), rgba(0, 0, 255, 0.418));
}

.img {
  color: aqua;
}

.col4 {
  border-top: 9px solid whitesmoke;
}

.pad {
  padding-left: 9px;
}

.col-list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.link :hover {
  color: lavenderblush;
}

@media only screen and (min-width: 1024px) {
  .container {
    display: grid;
    grid-template-areas:
      'header  content'
      'heeader content';
    width: 100%;
  }
}
