.foot {
  margin-left: 50px;
  padding-top: 10px;
}

.foot ul {
  display: flex;
  align-items: center;
}

.foot li {
  display: flex;
  margin-left: 30px;
  border: 9px solid gray;
  border-radius: 50%;
  background-color: gray;
}

.foot-event {
  margin-left: 140px;
}

.foot-event ul {
  display: inline-flex;
  justify-content: space-between;
}

.foot-event li {
  display: flex;
  margin-left: 20px;
  color: white;

  border-radius: 50%;
}

.footer {
  background-color: black;
  padding-top: -12px;
  height: 150px;
}

.foot-event1 {
  margin: auto auto 8px 30px;
}

.foot-even {
  background-color: rgba(0, 0, 0, 0.453);
  margin-top: -20px;
  height: 120px;
  padding-top: 50px;
}

@media only screen and (min-width: 1024px) {
  .footer {
    margin-top: 100px;
  }

  .foot {
    display: flex;
    margin-left: 230px;
  }

  .foot-event {
    margin-left: 490px;
  }

  .foot-event1 {
    margin-left: 300px;
  }
}
