  .more {
    margin-left: -40px;
  }

  .h5 {
    margin-top: -40px;
  }
  .info {
    background-color: rgba(255, 0, 0, 0.309);
  }

  .inf {
    margin-top: -70px;
  }

  .foot {
    margin: 100px auto auto 340px;
    padding-top: 10px;
  }

  .foot ul {
    display: flex;
    align-items: center;
  }

  .foot li {
    display: flex;
    margin-left: 50px;
    border: 9px solid gray;
    border-radius: 50%;
    background-color: gray;
  }

  .foot-event {
    margin-left: 430px;
  }

  .foot-event ul {
    display: inline-flex;
    /* justify-content: space-between; */
  }
  .foot-event li {
    display: flex;
    margin-left: 20px;
    color: white;
  }

  .footer {
    background-color: black;
    padding-top: -12px;
    height: 150px;
  }
  .foot-event1 {
    margin: auto auto 8px 350px;
  }

  .foot-even {
    background-color: rgba(0, 0, 0, 0.453);
    margin-top: -20px;
    height: 120px;
    padding-top: 50px;
  }

} */ */


@media screen and (max-width: 600px) {
  .first-nav a {
    float: none;

  }

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr );
  grid-template-rows: 1fr 1fr 1fr );
  grid-template-areas:
    'header header'
    'header header';
  width: 50%;
}
main {
  max-width: 400px;
  height:50%;
}
}



@media screen and (max-width: 600px) {
  .second-nav a {
    float: none;
    width: 100%;
  }

  .latest-news {
    width:100%;
    height:50px;
  }
  .grid {
    display: grid;
    grid-template-areas: "header header";
    column-gap: 5px;
  }
  .latest-container {
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-template-rows: 1fr 1fr;
    columns: 5px;
  }
}

@media only screen and (max-width: 500px) {
  /* For tablets: */
  .firt-nav {width: 23.33%; height: 100%;}
  .second-nav {width: 16.66%; height: 100%;}
  .latest-container {width: 25%;  height: 100%}
  .latest-news {width: 33.33%;  height: 100%}
  .more {width: 41.66%; height: 100%}
  .more-info-head {width: 50%; height: 100%}
  .more-info-grid {width: 58.33%; height: 100%}
  .col-list {width: 50.66%; height: 100%}
  .inf{width: 50%; height: 100%}
  .info {width: 83.33%; height: 100%}
  .more-info-grid {width:61.66%; height: 100%}
  .hand-fork-container{width: 70%; height: 100%}
  .hard-fork {width:23%; height: 100%}
  .hf-box {width:23%; height: 100%}
  .la-container {width:23%; height: 100%}
  .apps-container  {width:54%; height: 100%}
  .gear-container  {width:53%; height: 100%}
  .apps-container {width:23%; height: 100%}
  .footer {width:23%; height: 100%}

}
@media only screen and (min-width: 1120px) {
  /* For desktop: */
  .firt-nav {width: 8.33%; height: 50%}
  .second-nav {width: 16.66%; height: 40%}
  .latest-container {width: 25%; height: 50%}
  .latest-news {width: 33.33%; height: 70%}
  .more {width: 41.66%; height: 60%}
  .more-info-head {width: 50%; height: 60%}
  .more-info-grid {width: 58.33%; height: 60%}
  .col-list {width: 66.66%; height: 50%}
  .inf{width: 75%; height: 60%}
  .info {width: 50.33%; height: 30%}
  .more-info-grid {width:51.66%; height: 30%}
  .hand-fork-container{width: 70%; height: 40%}
  .hard-fork {width:23%; height: 50%}
  .hf-box {width:23%; height: 40%}
  .la-container {width:23%; height: 50%}
  .apps-container  {width:54%; height: 50%}
  .gear-container  {width:53%; height: 60%}
  .apps-container {width:23%; height: 40%}
  .footer {width:23%; height: 40%}

}


